* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'Roboto', sans-serif;
    color: #FFFFFF;
}

.content {
    min-height: calc(100vh - 272px);
}

.center {
    padding-left: calc(50% - 555px);
    padding-right: calc(50% - 555px);
}

.center_2 {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
}

.header {
    padding-top: 30px;
    padding-bottom: 74px;
    background-color: #242B33;
    background: url(img/bg-header.jpg) no-repeat bottom;
    background-size: cover;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.nav-list__item {
    list-style-type: none;
}

.nav-list__text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-block {
    max-width: 582px;
}

.mouse {
    align-self: center;
}

.logo {
    margin-right: 432px;
}

.logo-text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    width: 138px;
    margin-top: 15px;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 50px;
}

.header-heading {
    max-width: 556px;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 100px;
}

.info-block {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    width: 582px;
}

.info-block__item {
    display: flex;
    justify-content: space-between;
}

.info-blok__icon {
    margin-right: 14px;
}

.info__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-style: normal;
}

.advantages {
    background-color: #242B33;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.advantages-block {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bench {
    max-width: 193px;
}

.building {
    max-width: 133px;
}

.fountain {
    max-width: 134px;
}

.bicycle {
    max-width: 124px;
}

.advantages-block:last-child {
    margin-right: 0;
}

.advantages__text {
    font-family: 'Roboto', sans-serif;
    margin-top: 53px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.view {
    background: #242B33;
    background: url(img/view_img.jpg) no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center bottom;
}


.view__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.view__text  {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex-basis: 535px;
    margin-right: 35px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 540px;
}

input {
    background: #FFFFFF;
    opacity: 0.2;
    border: none; 
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
    padding-top: 12px;
    padding-bottom: 11px;
    width: 255px;
    margin-bottom: 35px;
}

.form-link {
    display: inline-block;
    background: #D4C17F;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 0 11px;
    width: 255px;
    order: 4;
}

.form_text {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
    order: 1;
}

.view__form_text {
    align-self: flex-end;
}


.info {
    display: flex;
    flex-direction: column;
    background-color: #242B33;
    padding-bottom: 180px;
}

.info__video {
    align-self: center;
    max-width: 719px;
}

.info__map {
    margin-top: 180px;
    margin-bottom: 180px;
    
}

.info__heading {
    margin-bottom: 100px;
}

.questions__form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.questions__input {
    margin-bottom: 0;
}

.questions__input_1 {
    order: 2;  
}

.questions__input_2 {
   order: 3; 
}

.apartments {
    background-color: #242B33;
}

.apartments__heading {
    margin-bottom: 100px;
}

.figure-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.apfigartments__img {
    position: relative;
}

.figcaption {
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    bottom: 50px;
    left: 50px;
}

.footer { 
    display: flex;
    justify-content: space-between;
    min-height: 272px;
    background: #2D343C;
    padding-top: 60px;
    padding-bottom: 51px;
}

.footer__logo {
    margin-right: 0;
}

.footer__nav-list {
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
}

.footer__nav-list_item {
    margin-bottom: 15px;
}

.footer__nav-list_item:last-child {
    margin-bottom: 0;
}

.footer__right {
   
}

.info-data__item {
    margin-bottom: 15px;
}

.info-data__item:last-child {
    margin-bottom: 0;
}

.info-data__link {
    color: #D4C17F;
    font-weight: bold;
}


.address-text {
    font-style: normal;
}

.social {
    display: flex;
    margin-top: 20px;
}

.social__item {
    margin-right: 20px;
}

.fab {
    font-size: 25px;
}