* {
    margin: 0;
    padding: 0;
}

.content {
    min-height: calc(100vh - 625px);
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.center_2 {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.center_3 {
    padding-left: calc(50% - 616px);
    padding-right: calc(50% - 616px);
}

.center_4 {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
}

.center_5 {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.center_6 {
    padding-left: calc(50% - 532px);
    padding-right: calc(50% - 532px);
}

.center_7 {
    padding-left: calc(50% - 627px);
    padding-right: calc(50% - 627px);
}

.header {
    padding-top: 39px;
    padding-bottom: 376px;
    background: url(img/bg_header.jpg) no-repeat;
    background-size: cover;
    color: #FFFFFF;
    &__nav {
        display: flex;
        justify-content: space-around;
    }
    
}


.item {
    list-style-type: none;
}

.list {
    padding-left: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
}

.text_p {
     margin-bottom: 0;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #555555;
}

.heading_mini {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    margin-bottom: 8px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #988574;
    border-radius: 3px;
    text-decoration: none;
}

.nav__list 
{   display: flex;
    width: 100%;
    justify-content: space-around;
    margin-right: 54px;
    
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.nav__link:hover {
    color: #C7B299;
}

.nav__icon {
    margin-right: 30px;
}

.logo-img {
    display: flex;
    align-items: center;
    margin-right: 352px;
}

.logo_hover:hover {
    transform: rotate(360deg);
    transition: all 1.5s;
}

.logo-img__text {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}

.slider {
    margin-top: 331px;
}

.slider-block__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.slider-block__heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 4px;
}

.slider-block__text_font {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 563px;
    margin-bottom: 30px;
}

.slider-block__button {
    padding: 19px 41px 18px 40px;
}

.slider-block__button:hover {
    color: #4E3326;
}

.carousel-item-next, 
.carousel-item-prev, 
.carousel-item.active {
    display: flex;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-indicators {
    top: 530px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 0;
}

.carousel-indicators [data-bs-target]:last-child {
    margin-right: 0;
}

.carousel-indicators .active {
    opacity: 0.5;
}

.carousel-indicators [data-bs-target]:hover {
    width: 15px;
    height: 15px;
    border: 1px solid #D3C1AD;
    background-color: transparent;
}

.carousel-control-next, 
.carousel-control-prev {
    width: 40px;
    height: 73px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    width: 40px;
    height: 73px;
    background-size: cover;
}

.carousel-control-next-icon {
    background-image: url(img/slider_header_right.svg);
}

.carousel-control-prev-icon {
    background-image: url(img/slider_header_left.svg);
}

.services {
    padding-top: 84px;
    padding-bottom: 88px;
    background-color: #FFFFFF;
}

.services__block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
    position: relative;
}

.services__item-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
} 

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__item_hover {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__item-block:hover .services__item_hover {
    display: flex;
}

.services__item-block:hover .services__item {
    opacity: 0; 
 }

.services__heading {
    font-size: 22px;
    line-height: 26px; 
    margin-top: 30px;
    margin-bottom: 20px;
}

.services__heading_hover {
    color: #C7B299;

}

.services__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.line {
    width: 70px;
    height: 3px;
    background: #F1EEE9;
    margin-top: 30px;
}

.line_hover {
    background-color: #C7B299;
}

svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
}

.services__svg:hover {
    transform: scale(1.5);
    transition: all 0.5s;
}

.realization {
    background-color: #FBFAF8;
    padding-top: 80px;
}

.realization__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.realization__text {
    max-width: 770px;
    text-align: center;
}

.realization__img {
    margin-top: 42px;
}

.figcaption {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.purchase {
    padding-top: 44px;
    padding-bottom: 45px;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase__heading {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #C7B299;
}

.purchase__heading_white {
    color: #FFFFFF;
}

.purchase__text {
    font-size: 18px;
    line-height: 22px;
    color: #615855;
}

.purchase__link {
    background-color: #988574;
    border-radius: 3px;

}

.purchase__button {
    padding: 19px 32px 18px 31px;
    display: flex;
    text-transform: uppercase;
}

.purchase__button:hover {
    color: #4E3326;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 61px;
    padding-bottom: 33px;
}

.projects__heading {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 9px;
}

.projects__text {
    max-width: 802px;
    text-align: center;
    margin-bottom: 27px;
}

.projects__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.projects__button_width {
    min-width: 120px;
}

.projects__button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    line-height: 17px;
    border: 1px solid #EBEBEB;
    background-color: #FFFFFF;
    color: #8C8C8C;
    padding-top: 7px;
    padding-bottom: 8px;
}

.projects__button_active {
    background-color: #998575;
    color: #FFFFFF;
    padding-right: 26px;
    padding-left: 26px;
}

.projects__button:hover {
    color: #FFFFFF;
    background-color: #998575;
}

.projects__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 69px;
    margin-bottom: 47px;
}

.projects__figure {
    margin: 0;
}

.projects__figcaption {
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
}

.figcaption-box {
    position: relative;
}

.figcaption-block {
    background-color: #FBFAF8;
    padding: 26px 23px;
    
}

.figcaption-block-hover {
    position: absolute;
    bottom: 0;
    display: none;
    background-color: #352F2D;
    width: 370px;
   
}

.heading_mini-hover {
    color: #FFFFFF;

}

.projects__figcaption_hover {
    color: #C7B299;
}

.figcaption-box:hover .figcaption-block-hover {
    display: block;
    transition: all 1s;
}

.projects__button_bottom {
     border: none;
     padding: 19px 47px 18px 46px;
}

.projects__button_bottom:hover {
    color: #4E3326;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mobile {
    margin-top: 78px;
    display: flex;
    justify-content: center;
}

.mobile__block {
    max-width: 670px;
}

.mobile__heading {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.mobile__list {
    margin-top: 49px;
    padding-left: 67px;
}

.mobile__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mobile__item:last-child {
    margin-bottom: 0;
}

.mobile__item::before {
    content: url('img/01.svg');
    margin-right: 8px;
}

.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding-top: 36px;
    padding-bottom: 34px;
}

.counters__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.counters__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counters__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #C7B299;
}

.item__number {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2px;
}

.line_2 {
    width: 30px;
    height: 2px;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.posts__heading {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 114px;
}

.posts__text {
    line-height: 28px;
    text-align: center;
    max-width: 770px;
}

.posts-box {
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.post-block {
    position: relative;
}

.posts__time {
    position: absolute;
    width: 50px;
    top: 17px;
    left: 23px;
}

.posts__date {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    padding: 0 auto;
    margin-bottom: 0;
}

.posts__date_color {
    background: #C7B199;
}

.posts__month {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #242424;
    border-radius: 0px 0px 3px 3px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.posts__month_color {
    background: #A48D71;
}

.post-block_mini {
    max-width: 370px;
    padding: 31px 23px 22px;
    border: 1px solid #B2B2B2
}

.post-block_brown {
    background: #352F2D;
    border: none;
}

.posts__heading_mini {
    color: #555555;
    margin-bottom: 22px;
}

.heading_mini_brown {
    color: #C7B299;
}

.text_mini {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.text_white {
    color: #FFFFFF;
}

.posts__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #C7B299;
    display: flex;
}

.posts__link:hover {
    color: #352F2D;
}

.posts__link_brown:hover {
    color: #D3C1AD;
}

.link_text {
    margin-right: 9px;
}

.partners {
    padding-top: 140px;
    padding-bottom: 139px;
    background: url(img/bg_partners.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.footer {
    min-height: 625px;
}

.footer-top {
    padding-top: 108px;
    padding-bottom: 128px;
    background: #191919;
    display: flex;
    justify-content: flex-start;
}

.waxom {
    width: 270px;
    margin-right: 72px;
    margin-top: -34px;
}

.waxom__link:hover {
    color: #C7B299;
}

.footer__logo-img {
    margin-bottom: 17px;
}

.footer__heading {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer__text {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}

.footer__link {
    color: #D1D1D1;
    margin-top: 18px;
}

.recent-posts {
    margin-right: 49px;
    width: 270px;
}

.recent-posts__item {
    border-bottom: 1px solid #555555;
    margin-bottom: 12px;
    padding-bottom: 16px;
}

.recent-posts__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.recent-posts__text:hover {
    color: #C7B299;
}

.recent-posts__time:hover {
    color: #FFFFFF;
}

.footer__time {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    margin-bottom: 6px;
}


.twitter {
    margin-right: 48px;
    max-width: 271px;
}

.twitter__item {
    border-bottom: 1px solid #555555;
    padding-bottom: 16px;
    margin-bottom: 12px;
}

.twitter__item:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.twitter__time {
    margin-bottom: 0;
    margin-top: 6px;
}

.blue {
    color: #00BFF3;
}

.widget-block {
    display: flex;
    flex-wrap: wrap;
    width: 268px;
}

.widget__img_1 {
    margin-right: 8px;
}

.widget__img_2 {
    margin-bottom: 9px;
}

.footer-bottom {
    padding-top: 58px;
    padding-bottom: 41px;
    background-color: #101010;
}

.footer-bottom__list {
    display: flex;
}

.footer-bottom__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    border-right: 1px solid #555555;
    padding-right: 11px;
    padding-left: 11px;
    display: block;
}

.footer-bottom__link_1 {
    padding-left: 0;
}

.footer-bottom__link_2 {
    padding-right: 0;
    border: none;
}

.footer-bottom__link:hover {
    color: #BAA78F;
}


 